#!/usr/bin/make -f

PACKAGE = psi-plus

DEBIAN_PATH := $(abspath $(dir $(MAKEFILE_LIST)))
USCAN_REPORT = $(shell uscan --noconf --report --dehs $(DEBIAN_PATH))
CUR_VER = $(shell echo "$(USCAN_REPORT)" | sed -n 's/.*<upstream-version>\(.*\)<\/upstream-version>.*/\1/p')
CUR_URL = $(shell echo "$(USCAN_REPORT)" | sed -n 's/.*<upstream-url>\(.*\)<\/upstream-url>.*/\1/p')

export DEB_CXXFLAGS_MAINT_APPEND = $(shell dpkg-buildflags --get CPPFLAGS)
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

BUILDDIR1 = $(CURDIR)/debian/builddir1
BUILDDIR2 = $(CURDIR)/debian/builddir2

DEB_DH_INSTALL_SOURCEDIR = $(CURDIR)/debian/tmp

# CMAKEOPTS = -DCMAKE_BUILD_TYPE=RelWithDebInfo \
#             -DCMAKE_CXX_FLAGS="$(CXXFLAGS)" \
#             -DCMAKE_SHARED_LINKER_FLAGS="$(LDFLAGS)" \
#             -DCMAKE_EXE_LINKER_FLAGS="$(LDFLAGS)" \
#             -DCMAKE_INSTALL_PREFIX=/usr \
#             -DBUNDLED_IRIS=ON \
#             -DONLY_PLUGINS=OFF \
#             -DUSE_HUNSPELL=ON \
#             -DUSE_ENCHANT=OFF \
#             -DSEPARATE_QJDNS=OFF \
#             -DUSE_QT5=ON \
#             -DUSE_WEBENGINE=OFF \
#             -DUSE_CCACHE=OFF \
#             ..

CMAKEOPTS = -DCMAKE_INSTALL_PREFIX=/usr \
            -DBUNDLED_IRIS=ON \
            -DONLY_PLUGINS=OFF \
            -DUSE_HUNSPELL=ON \
            -DUSE_ENCHANT=OFF \
            -DSEPARATE_QJDNS=OFF \
            -DUSE_QT5=ON \
            -DUSE_WEBENGINE=OFF \
            -DUSE_CCACHE=OFF

OPTSSTEP1 = -DENABLE_PLUGINS=ON \
            -DENABLE_WEBKIT=ON

OPTSSTEP2 = -DENABLE_PLUGINS=OFF \
            -DENABLE_WEBKIT=OFF

%:
	dh $@ --buildsystem=cmake --parallel --list-missing

override_dh_auto_configure:
	dh_auto_configure -B$(BUILDDIR1) -- $(CMAKEOPTS) $(OPTSSTEP1)
	dh_auto_configure -B$(BUILDDIR2) -- $(CMAKEOPTS) $(OPTSSTEP2)

override_dh_auto_build:
	dh_auto_build -B$(BUILDDIR1)
	dh_auto_build -B$(BUILDDIR2)

override_dh_auto_test:
	dh_auto_test -B$(BUILDDIR1)
	dh_auto_test -B$(BUILDDIR2)

override_dh_auto_install:
	dh_auto_install -B$(BUILDDIR1) --destdir=$(DEB_DH_INSTALL_SOURCEDIR)
	cp -a $(BUILDDIR2)/psi/psi-plus $(DEB_DH_INSTALL_SOURCEDIR)/usr/bin/psi-plus-webkit
	cp -a $(CURDIR)/debian/psi-plus*.desktop $(DEB_DH_INSTALL_SOURCEDIR)/usr/share/applications/
	cp -a $(CURDIR)/debian/psi-plus*.xpm $(DEB_DH_INSTALL_SOURCEDIR)/usr/share/psi-plus
	cp -a $(CURDIR)/skins $(DEB_DH_INSTALL_SOURCEDIR)/usr/share/psi-plus/

get-orig-source:
	wget -c4 "$(CUR_URL)" -O "$(PACKAGE)_$(CUR_VER).orig.tar.gz"

